@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&family=Overpass+Mono&display=swap');

body,html
  height 100%
  width 100%
  background-color #1f1f1f
  color #137238
  display flex
  flex-direction column
  font-family 'Fira Code', monospace
  font-size 64pt
  line-height 64pt
  .container-fluid
    height 100%
    width 100%
    display flex
    justify-content center
    .row
      height 100%
      display flex
      flex-direction column
      justify-content center
      #main
        display inline-grid
.wrapper
  display inline-flex

.colorChange
  color #dc2329
  transition color 2s
